<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container a">
            <h1>KIE.IO 's HELP CENTER</h1>
            </div>
            
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">      
 <div class="navbar navbar-default" role="tablist navigation">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <!-- Be sure to leave the brand out there if you want it shown -->
   <a class="navbar-brand hidden-lg  hidden-md hidden-sm custom-nav" href="#help-help-content">HELP CENTER</a>
    </div>

    
    <!-- Place everything within .navbar-collapse to hide it until above 768px -->
    <div class="collapse navbar-collapse" id="navigation2">
  
    
     <ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="disabled hidden-xs"><a href="#">HELP CENTER</a></li>
  <li role="presentation" class=""><a href="/#/#loginandpassword"  aria-controls="home" role="tab" data-toggle="tab">Login and password</a></li>
  <li role="presentation"><a href="/#/#getstarted" aria-controls="home" role="tab" data-toggle="tab">Get started</a></li>
  <li role="presentation"><a href="/#/#report" aria-controls="home" role="tab" data-toggle="tab">Report</a></li>
  <li role="presentation"><a href="/#/#policy" aria-controls="home" role="tab" data-toggle="tab">Policy</a></li>
  <li role="presentation"><a href="/#/#setting" aria-controls="home" role="tab" data-toggle="tab">Setting</a></li>
  <li role="presentation"><a href="/#/#contact" aria-controls="home" role="tab" data-toggle="tab">Contact</a></li>
    </ul>
   

   
      
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->           
 
     </div>     
     
     
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 panel-heading" > 
 
        <div class="tab-content">   
    <div role="tabpanel" class="tab-pane active" id="loginandpassword">
        <h2 class="a">Login and password</h2>
    </div>
    <div role="tabpanel" class="tab-pane" id="getstarted">
        <h2 class="a">Get started</h2>
    </div>
    <div role="tabpanel" class="tab-pane" id="report">
        <h2 class="a">Report</h2>
    </div>
    <div role="tabpanel" class="tab-pane" id="policy">
        <h2 class="a">Policy</h2>
    </div>
    <div role="tabpanel" class="tab-pane" id="setting">
        <h2 class="a">Setting</h2>
    </div>
    <div role="tabpanel" class="tab-pane" id="contact">
        <h2 class="a">Contact</h2>
    </div>
  </div>    
  
  </div>
  
</div>