<div class="row intro">

  <div class="col-md-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

 
    
    <div class="jumbotron1">
  <h1 class="text-center">CLOUD RAIN MANAGER</h1>
  <p class="text-center">Key for opening everything</p>
  </div>

 
 
 
  
</div>
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> 
  <img src="cute-rain-cloud.svg" class="img-responsive container img-center cloud" alt="Could Rain Manager">
  <br />
  <p class=" text-center">
                        <a href="#signuppage" class="btn btn-lg btn-android-inversed">  
                         Get Started
                        </a>
                        <a href="#index-index-content" class="btn btn-lg btn-xing-inversed">  
                         Try it
                        </a>                            
                        
                       
                        
                        </p>
  </div> 


  <!-- Panel content--> 

  </div>
  
  <br />
  
  <div class="container">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 picture-bg">

<div class="row">
  <div class="col-md-3 col-sm-3 col-lg-3 hidden-xs picture">
  <img src="dora1.png" />
  </div>
  
  
  <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12 text-picture">
  <p>
  <h3 class="blue"> Body</h3>
  Bộ truyện kể về một chú mèo máy tên là Doraemon đến từ thế kỉ 22 để giúp một cậu bé lớp 4 hậu đậu tên là Nobi Nobita. Các câu chuyện của Doraemon thường ngắn gọn, dễ hiểu, dí dỏm và mang cái nhìn lạc quan về cuộc sống tương lai cũng như sự phát triển của khoa học - kĩ thuật. Doraemon đã giành được nhiều giải thưởng truyện tranh ở Nhật Bản và được tạp chí TIME Asia bình chọn là một trong 22 nhân vật nổi bật của châu Á[2]. Kể từ khi ra đời đến nay, Doraemon không chỉ được coi là nhân vật và bộ truyện tranh được yêu thích hàng đầu ở Nhật Bản, nó còn trở thành một biểu tượng văn hóa của đất nước này và được trẻ em nhiều nước trên thế giới yêu thích.
  </p>
  <a href="#signuppage" class="btn btn-lg btn-html5">  
                         Get Started
                        </a>
  </div>
  
  
  
</div>

</div>

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 picture-bg">

<div class="row">
  <div class="col-md-3 col-sm-3 col-lg-3 hidden-xs picture">
  <img src="dora1.png" />
  </div>
  
  
  <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12 text-picture">
  <p>
  <h3 class="blue"> Body</h3>
  Bộ truyện kể về một chú mèo máy tên là Doraemon đến từ thế kỉ 22 để giúp một cậu bé lớp 4 hậu đậu tên là Nobi Nobita. Các câu chuyện của Doraemon thường ngắn gọn, dễ hiểu, dí dỏm và mang cái nhìn lạc quan về cuộc sống tương lai cũng như sự phát triển của khoa học - kĩ thuật. Doraemon đã giành được nhiều giải thưởng truyện tranh ở Nhật Bản và được tạp chí TIME Asia bình chọn là một trong 22 nhân vật nổi bật của châu Á[2]. Kể từ khi ra đời đến nay, Doraemon không chỉ được coi là nhân vật và bộ truyện tranh được yêu thích hàng đầu ở Nhật Bản, nó còn trở thành một biểu tượng văn hóa của đất nước này và được trẻ em nhiều nước trên thế giới yêu thích.
  </p>
  <a href="#signuppage" class="btn btn-lg btn-html5">  
                         Get Started
                        </a>
  </div>
  
  
  
</div>

</div>

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 picture-bg">

<div class="row">
  <div class="col-md-3 col-sm-3 col-lg-3 hidden-xs picture">
  <img src="dora1.png" />
  </div>
  
  
  <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12 text-picture">
  <p>
  <h3 class="blue"> Body</h3>
  Bộ truyện kể về một chú mèo máy tên là Doraemon đến từ thế kỉ 22 để giúp một cậu bé lớp 4 hậu đậu tên là Nobi Nobita. Các câu chuyện của Doraemon thường ngắn gọn, dễ hiểu, dí dỏm và mang cái nhìn lạc quan về cuộc sống tương lai cũng như sự phát triển của khoa học - kĩ thuật. Doraemon đã giành được nhiều giải thưởng truyện tranh ở Nhật Bản và được tạp chí TIME Asia bình chọn là một trong 22 nhân vật nổi bật của châu Á[2]. Kể từ khi ra đời đến nay, Doraemon không chỉ được coi là nhân vật và bộ truyện tranh được yêu thích hàng đầu ở Nhật Bản, nó còn trở thành một biểu tượng văn hóa của đất nước này và được trẻ em nhiều nước trên thế giới yêu thích.
  </p>
  <a href="#signuppage" class="btn btn-lg btn-html5">  
                         Get Started
                        </a>
  </div>
  
  
  
</div>

</div>


</div>





</div>