
<div class="container">
<div class="row">


 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  
		<h3 class="blue">Process </h3>			

        
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">      
 <div class="navbar navbar-default" role="tablist navigation">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <!-- Be sure to leave the brand out there if you want it shown -->
   <a class="navbar-brand hidden-lg  hidden-md hidden-sm custom-nav" href="#help-help-content">Category</a>
    </div>

    
    <!-- Place everything within .navbar-collapse to hide it until above 768px -->
    <div class="collapse navbar-collapse" id="navigation2">
  
    
     <ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="disabled hidden-xs"><a href="#">Category</a></li>
      <li role="presentation" class=""><a href="/#/#showall"  aria-controls="home" role="tab" data-toggle="tab">Show all</a></li>
      <li role="presentation"><a href="/#/#general" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
      <li role="presentation"><a href="/#/#music" aria-controls="home" role="tab" data-toggle="tab">Music</a></li>
      <li role="presentation"><a href="/#/#picture" aria-controls="home" role="tab" data-toggle="tab">Picture</a></li>
      <li role="presentation"><a href="/#/#video" aria-controls="home" role="tab" data-toggle="tab">Video</a></li>
      <li role="presentation"><a href="/#/#game" aria-controls="home" role="tab" data-toggle="tab">Game</a></li>
      <li role="presentation"><a href="/#/#secret" aria-controls="home" role="tab" data-toggle="tab">Secret</a></li>
    </ul>
   

   
      
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->           
 
     </div>  
	
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 panel-heading" > 
 
             <div class="tab-content">   
            <div role="tabpanel" class="tab-pane active" id="showall">
                <h2 class="a">Show All</h2>
                                <table class="table">
                      
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>File name</th>
                          <th>Status</th>
                          <th>Date</th>
                          <th>Size</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Doraemon Stand by me.mp4
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Delete link">
                                         <span class="glyphicon glyphicon glyphicon-remove" ></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Pause process">
                                         <span class="glyphicon  glyphicon glyphicon-pause" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Stop process">
                                         <span class="glyphicon glyphicon glyphicon-stop" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Resume process">
                                         <span class="glyphicon glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                                    </button>
                          </td>
                          <td><p class="text-primary">Done</p></td>
                          <td>12/12/14</td>
                          <td>1.96GB</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>
                          Doraemon Stand by me.mp4
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Delete link">
                                         <span class="glyphicon glyphicon glyphicon-remove" ></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Pause process">
                                         <span class="glyphicon  glyphicon glyphicon-pause" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Stop process">
                                         <span class="glyphicon glyphicon glyphicon-stop" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Resume process">
                                         <span class="glyphicon glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                                    </button>
                          
                          </td>
                          <td><p class="text-danger">Stopped</p></td>
                          <td>@fat</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>
                          Doraemon Stand by me.mp4
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Delete link">
                                         <span class="glyphicon glyphicon glyphicon-remove" ></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Pause process">
                                         <span class="glyphicon  glyphicon glyphicon-pause" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Stop process">
                                         <span class="glyphicon glyphicon glyphicon-stop" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Resume process">
                                         <span class="glyphicon glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                                    </button>
                          
                          
                          </td>
                          <td><p class="text-warning">Paused (<span>50%</span>)</p></td>
                          <td>@twitter</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>
                          Doraemon Stand by me.mp4
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Delete link">
                                         <span class="glyphicon glyphicon glyphicon-remove" ></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Pause process">
                                         <span class="glyphicon  glyphicon glyphicon-pause" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Stop process">
                                         <span class="glyphicon glyphicon glyphicon-stop" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Resume process">
                                         <span class="glyphicon glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                                    </button>
                          
                          
                          </td>
                          <td> <p class="text-muted">Error </p></td>
                          <td>@twitter</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                         <td>
                          Doraemon Stand by me.mp4
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Delete link">
                                         <span class="glyphicon glyphicon glyphicon-remove" ></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Pause process">
                                         <span class="glyphicon  glyphicon glyphicon-pause" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Stop process">
                                         <span class="glyphicon glyphicon glyphicon-stop" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs " aria-label="Resume process">
                                         <span class="glyphicon glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                                    </button>
                          
                          
                          </td>
                          <td> <p class="text-info"> 55%...</p></td>

                          <td>@twitter</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                          <td>@mdo</td>
                        </tr>
                      </tbody>
                    </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="general">
                <h2 class="a">General</h2>
            </div>
            <div role="tabpanel" class="tab-pane" id="music">
                <h2 class="a">Music</h2>
            </div>
            <div role="tabpanel" class="tab-pane" id="picture">
                <h2 class="a">Picture</h2>
            </div>
            <div role="tabpanel" class="tab-pane" id="video">
                <h2 class="a">Video</h2>
            </div>
            <div role="tabpanel" class="tab-pane" id="game">
                <h2 class="a">Game</h2>
            </div>
            <div role="tabpanel" class="tab-pane" id="secret">
                <h2 class="a">Secret</h2>
            </div>
          </div>   
  
  </div>
    
    
     
 </div>













</div>












</div>
</div>

