<div class="container">

 <h3 class="blue">Registration form</h3>
  
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 picture-bg">
<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
  </div>
  <p>
  
  <button type="submit" class="btn btn-lg btn-html5">
                Accept
  </button>
  
  </p>
  
  <span class="help-block">Clicking accept button means you agree with our <span><a href="#policy123" class="text-danger"> POLICY </a></span> <span>or</span> <a href="#introcontent">Back to home</a></span>
</form>




</div>
  


  
  

</div>