<div class="container">


 <h3 class="blue">Sign In</h3>
  
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 picture-bg">
<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <p>
  
  <button type="submit" class="btn btn-lg btn-html5">
                Sign in
  </button>
  
  </p>
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h5 class="blue">Sign in by</h5>
  <button class="btn btn-sm btn-facebook">Facebook</button>
  <button class="btn btn-sm btn-twitter">Twitter</button>
  <button class="btn btn-sm btn-google-plus">Google +</button>
  </div>
 
  <span class="help-block"><a href="#introcontent">Back to home</a></span>
</form>




</div>
  


  
  


</div>